<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>考试科目管理</title>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>
</head>
<body>

<div id="app">

    <!--搜索表单-->
    <el-form :inline="true" :model="queryData" class="demo-form-inline">


        <el-form-item label="科目代码" prop="subid">
            <el-input v-model="queryData.subid" placeholder="科目代码" clearable></el-input>
        </el-form-item>

        <el-form-item label="科目名称" prop="name">
            <el-input v-model="queryData.name" placeholder="科目名称" clearable></el-input>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="queryOnSubmit">查询</el-button>
        </el-form-item>
    </el-form>

    <!--按钮-->
    <el-row>
        <el-button type="danger" plain @click="deleteByIds">批量删除</el-button>
        <el-button type="primary" plain @click="addSubject">新增</el-button>
    </el-row>

    <div class="add-form">
        <!--添加数据对话框表单-->
        <el-dialog
                title="添加科目"
                :visible.sync="dialogVisible"
                width="30%"
                @close="$refs['addForm'].resetFields()">
            <el-form :model="updateData" label-width="80px" :rules="rule" ref="addForm" :visible.sync="dialogVisible">
                <el-form-item label="科目代码" prop="subid">
                    <el-input v-model="updateData.subid"></el-input>
                </el-form-item>

                <el-form-item label="科目名称" prop="name">
                    <el-input v-model="updateData.name"></el-input>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" @click="addSubjectSubmit(addForm)">提交</el-button>
                    <el-button @click="dialogVisible=false">取消</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
    </div>

    <!--修改数据对话框表单-->
    <el-dialog
            title="编辑信息"
            :visible.sync="dialogEditVisible"
            width="30%"
            @close="$refs['editForm'].resetFields()">
        <el-form ref="editForm" :model="updateData" label-width="80px" :rules="rule">
            <el-form-item label="科目代码" prop="updateData.subid">
                <el-input v-model="updateData.subid" :readonly="true"></el-input>
            </el-form-item>

            <el-form-item label="科目名称" prop="updateData.name">
                <el-input v-model="updateData.name"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="updateSubjectSubmit(editForm)">提交</el-button>
                <el-button @click="dialogEditVisible=false">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>

    <!--表格-->
    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                :row-class-name="tableRowClassName"
                @selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    type="index"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="subid"
                    label="科目代码"
                    sortable
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="科目名称"
                    sortable
                    align="center">
            </el-table-column>
            <el-table-column
                    align="center"
                    label="操作">
                <template slot-scope="scope">
                    <el-row>
                        <el-button type="primary" @click="updateSubject(scope.row)">修改</el-button>
                        <el-button type="danger" @click="deleteById(scope.row)">删除</el-button>
                    </el-row>
                </template>

            </el-table-column>

        </el-table>
    </template>

    <!--分页工具条-->
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[5, 10, 15, 20]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount">
    </el-pagination>

</div>

</body>

<script src=..\js\vue.js></script>
<script src="..\element-ui/lib/index.js"></script>
<link rel="stylesheet" href="..\element-ui/lib/theme-chalk/index.css">
<script src="..\js\axios-0.18.0.js"></script>

<script>
    new Vue({
        el: "#app",

        created() {
            this.selectByPage();
        },


        data: {
            // 当前页码
            currentPage: 1,
            //当前页数据
            pageSize: 5,
            //查询总数居
            totalCount: 100,
            // 添加数据对话框是否展示的标记
            dialogVisible: false,
            //边际对话框是否展示的标记
            dialogEditVisible: false,
            // 复选框选中数据集合
            multipleSelection: [],
            //被选中的id集合
            selectedIds: [],
            // 表格数据
            tableData: [],
            //修改表单数据
            updateData: {
                subid: '',
                name: ''
            },
            //下拉选择框班级回显数据
            classrooms: [],
            //搜索表单数据
            queryData: {
                subid: '',
                name: ''
            },
            //表单验证规则/^\d+$|^\d+[.]?\d+$/
            rule: {
                subid: [
                    {required: true, message: '请输入科目代码', trigger: 'blur'},
                    {
                        required: true,
                        pattern: /^\d+$|^\d+[.]?\d+$/,
                        message: '代码仅支持数字',
                        trigger: 'blur'
                    },
                    {max: 11, message: '长度不超过11位数字', trigger: 'blur'},
                ],
                name: [
                    {required: true, message: '请输入科目名称', trigger: 'blur'},
                    {max: 20, message: '长度不超过20个字符', trigger: 'blur'}
                ]
            }

        },

        methods: {
            //分页查询
            selectByPage() {
                axios.post("/subjects/get?currentPage=" + this.currentPage + "&pageSize=" + this.pageSize, this.queryData).then((resp) => {
                    this.tableData = resp.data.data.rows;
                    this.totalCount = resp.data.data.totalCount;
                })
            },

            //条件查询
            queryOnSubmit() {
                axios.post("/subjects/get?currentPage=" + this.currentPage + "&pageSize=" + this.pageSize, this.queryData).then((resp) => {
                    this.tableData = resp.data.data.rows;
                    this.totalCount = resp.data.data.totalCount;
                })
            },

            //批量删除
            deleteByIds() {
                this.$confirm("此操作永久删除当前数据，是否继续？", "提示", {
                    type: 'info'
                }).then(() => {
                    //取出被选中集合中数据的对应subid
                    for (let i = 0; i < this.multipleSelection.length; i++) {
                        var selectionElement = this.multipleSelection[i];
                        this.selectedIds[i] = selectionElement.subid;
                    }

                    axios.post("/subjects/delete", this.selectedIds).then((res) => {
                        if (res.data.code == 20021) {
                            this.$message.success("删除成功");
                        } else {
                            this.$message.error("删除失败");
                        }
                    }).finally(() => {
                        this.selectByPage();
                    });
                }).catch(() => {
                    this.$message.info("取消删除");
                });
            },

            //根据id删除
            deleteById(row) {
                this.$confirm("此操作将永久删除数据，是否继续？", "提示", {
                    type: 'info'
                }).then(() => {
                    axios.get("/subjects/delete/" + row.subid).then((res) => {
                        if (res.data.code == 20021) {
                            this.$message.success("删除成功");
                        } else {
                            this.$message.error("删除失败");
                        }
                    }).finally(() => {
                        this.selectByPage();
                    });
                }).catch(() => {
                    this.$message.info("取消删除");
                });
            },


            //弹出添加窗口
            addSubject() {
                // 重置表单
                this.updateData = {};
                this.dialogVisible = true;
            },


            //添加科目提交
            addSubjectSubmit(addForm) {
                this.$refs.addForm.validate((valid) => {
                    if (valid) {
                        axios.post("/subjects/insert", this.updateData).then((res) => {
                            if (res.data.code == 20011) {
                                this.dialogVisible = false;
                                this.$message.success("添加成功");
                            } else {
                                this.$message.error(res.data.msg);
                            }
                        }).finally(() => {
                            this.selectByPage();
                        });
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },

            //点击修改按钮后回显表单数据
            updateSubject(row) {
                axios.get("/subjects/get/" + row.subid).then((res) => {
                    this.updateData = res.data.data;
                    this.dialogEditVisible = true;
                })
            },

            //修改成绩提交
            updateSubjectSubmit(editForm) {
                this.$refs.editForm.validate((valid) => {
                    if (valid) {
                        axios.post("/subjects/update", this.updateData).then((res) => {
                            if (res.data.code == 20031) {
                                this.dialogEditVisible = false;
                                this.$message.success("修改成功");
                            } else {
                                this.$message.error("修改失败");
                            }
                        }).finally(() => {
                            this.updateData={};
                            this.selectByPage();
                        });
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },

            tableRowClassName({row, rowIndex}) {
                if ((rowIndex + 3) % 4 === 0) {
                    return 'warning-row';
                } else if ((rowIndex + 1) % 4 === 0) {
                    return 'success-row';
                }
                return '';
            },

            // 复选框选中后执行的方法
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },

            //分页
            handleSizeChange(val) {
                this.pageSize = val;
                this.selectByPage();
            },

            handleCurrentChange(val) {
                this.currentPage = val;
                this.selectByPage();
            }


        }
    })
</script>

</html>